interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Storage/storageAccounts/pyvmirstor517415e0?api-version=2018-02-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a1eccdf4-266b-408f-bfe6-b549609f7070?monitor=true&api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/a1eccdf4-266b-408f-bfe6-b549609f7070?monitor=true&api-version=2018-02-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Storage/storageAccounts/pyvmirstor517415e0","name":"pyvmirstor517415e0","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-06-13T18:05:30.3271056Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-06-13T18:05:30.3271056Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-06-13T18:05:30.1552387Z","primaryEndpoints":{"blob":"https://pyvmirstor517415e0.blob.core.windows.net/","queue":"https://pyvmirstor517415e0.queue.core.windows.net/","table":"https://pyvmirstor517415e0.table.core.windows.net/","file":"https://pyvmirstor517415e0.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "pyvmirsub517415e0"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"pyvmirnet517415e0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0\"\
        ,\r\n  \"etag\": \"W/\\\"fe461314-4f35-4258-8161-b60c93044fd1\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"fce8e1f1-3200-454b-82ee-5f0ee8b75f88\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\"\
        : \"pyvmirsub517415e0\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0/subnets/pyvmirsub517415e0\"\
        ,\r\n        \"etag\": \"W/\\\"fe461314-4f35-4258-8161-b60c93044fd1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\
        \n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a61a27d6-f016-446e-ab81-a2d2c5b4209b?api-version=2018-02-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a61a27d6-f016-446e-ab81-a2d2c5b4209b?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0/subnets/pyvmirsub517415e0?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"pyvmirsub517415e0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0/subnets/pyvmirsub517415e0\"\
        ,\r\n  \"etag\": \"W/\\\"5ed40813-a065-4cb2-ba9f-4d0d4d953b6e\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"5ed40813-a065-4cb2-ba9f-4d0d4d953b6e"]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "westus", "properties": {"ipConfigurations":
      [{"properties": {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0/subnets/pyvmirsub517415e0",
      "properties": {"addressPrefix": "10.0.0.0/24", "provisioningState": "Succeeded"},
      "name": "pyvmirsub517415e0", "etag": "W/\\\\\\\\\\\\\\\\"5ed40813-a065-4cb2-ba9f-4d0d4d953b6e\\\\\\\\\\\\\\\\""}},
      "name": "pyarmconfig"}]}}\\\\\\\''\\\''\'''''
    headers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"name\": \"pyvmirnic517415e0\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0\"\
        ,\r\n  \"etag\": \"W/\\\"1d513533-2fba-4b98-93c9-ffc38919963d\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"8bb95514-df51-4451-9756-3e73dfd9db57\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"pyarmconfig\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0/ipConfigurations/pyarmconfig\"\
        ,\r\n        \"etag\": \"W/\\\"1d513533-2fba-4b98-93c9-ffc38919963d\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/virtualNetworks/pyvmirnet517415e0/subnets/pyvmirsub517415e0\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\",\r\n          \"isInUseWithService\": false\r\n        }\r\n  \
        \    }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n\
        \      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"\
        4hq4r5aagjfulaxol2horn05ra.dx.internal.cloudapp.net\"\r\n    },\r\n    \"\
        enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\
        \n    \"virtualNetworkTapProvisioningState\": \"NotProvisioned\"\r\n  },\r\
        \n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"1d513533-2fba-4b98-93c9-ffc38919963d"]
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"location": "westus", "properties": {"hardwareProfile":
      {"vmSize": "Standard_A0"}, "storageProfile": {"imageReference": {"publisher":
      "Canonical", "offer": "UbuntuServer", "sku": "16.04.0-LTS", "version": "latest"},
      "osDisk": {"name": "test", "vhd": {"uri": "https://pyvmirstor517415e0.blob.core.windows.net/vhds/osdisk.vhd"},
      "caching": "None", "createOption": "FromImage"}}, "osProfile": {"computerName":
      "test", "adminUsername": "Foo12", "adminPassword": "BaR@123test_mgmt_compute_test_virtual_machine_capture_legacy517415e0"},
      "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0"}]}}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"0bf0e5f9-0052-480e-8746-856fb37d4da5\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A0\"\r\n \
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n   \
        \     \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04.0-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n\
        \        \"vhd\": {\r\n          \"uri\": \"https://pyvmirstor517415e0.blob.core.windows.net/vhds/osdisk.vhd\"\
        \r\n        },\r\n        \"caching\": \"None\"\r\n      },\r\n      \"dataDisks\"\
        : []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\"\
        ,\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\":\
        \ {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n  \
        \    \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0\"\
        }]},\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0\"\
        ,\r\n  \"name\": \"pyvmirvm517415e0\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f96d0ea5-966b-476a-bdf2-8a08be734d18?api-version=2017-12-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1198']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f96d0ea5-966b-476a-bdf2-8a08be734d18?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-13T18:06:40.1670978+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"f96d0ea5-966b-476a-bdf2-8a08be734d18\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29972']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/f96d0ea5-966b-476a-bdf2-8a08be734d18?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-13T18:06:40.1670978+00:00\",\r\
        \n  \"endTime\": \"2018-06-13T18:08:13.0903776+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"f96d0ea5-966b-476a-bdf2-8a08be734d18\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29963']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"0bf0e5f9-0052-480e-8746-856fb37d4da5\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A0\"\r\n \
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n   \
        \     \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\"\
        ,\r\n        \"sku\": \"16.04.0-LTS\",\r\n        \"version\": \"latest\"\r\
        \n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n  \
        \      \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n\
        \        \"vhd\": {\r\n          \"uri\": \"https://pyvmirstor517415e0.blob.core.windows.net/vhds/osdisk.vhd\"\
        \r\n        },\r\n        \"caching\": \"None\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\"\
        ,\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Network/networkInterfaces/pyvmirnic517415e0\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"\
        Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"\
        id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0\"\
        ,\r\n  \"name\": \"pyvmirvm517415e0\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/LowCostGet3Min;4197,Microsoft.Compute/LowCostGet30Min;33586']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0/deallocate?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/55fde709-3cf1-4a7d-89bf-cf704a3f86fd?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/55fde709-3cf1-4a7d-89bf-cf704a3f86fd?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1197']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0/generalize?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1197']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"vhdPrefix": "pslib", "destinationContainerName": "dest", "overwriteVhds":
      true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_virtual_machine_capture_legacy517415e0/providers/Microsoft.Compute/virtualMachines/pyvmirvm517415e0/capture?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/128d0bc9-2db0-42c2-adcf-cbac64e20385?api-version=2017-12-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/128d0bc9-2db0-42c2-adcf-cbac64e20385?monitor=true&api-version=2017-12-01']
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1196']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/128d0bc9-2db0-42c2-adcf-cbac64e20385?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2018-06-13T18:10:15.0648921+00:00\",\r\
        \n  \"endTime\": \"2018-06-13T18:10:15.6272264+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"properties\": {\r\n    \"output\": {\"$schema\":\"http://schema.management.azure.com/schemas/2014-04-01-preview/VM_IP.json\"\
        ,\"contentVersion\":\"1.0.0.0\",\"parameters\":{\"vmName\":{\"type\":\"string\"\
        },\"vmSize\":{\"type\":\"string\",\"defaultValue\":\"Standard_A0\"},\"adminUserName\"\
        :{\"type\":\"string\"},\"adminPassword\":{\"type\":\"securestring\"},\"networkInterfaceId\"\
        :{\"type\":\"string\"}},\"resources\":[{\"apiVersion\":\"2017-12-01\",\"properties\"\
        :{\"hardwareProfile\":{\"vmSize\":\"[parameters('vmSize')]\"},\"storageProfile\"\
        :{\"osDisk\":{\"osType\":\"Linux\",\"name\":\"pslib-osDisk.0bf0e5f9-0052-480e-8746-856fb37d4da5.vhd\"\
        ,\"createOption\":\"FromImage\",\"image\":{\"uri\":\"https://pyvmirstor517415e0.blob.core.windows.net/system/Microsoft.Compute/Images/dest/pslib-osDisk.0bf0e5f9-0052-480e-8746-856fb37d4da5.vhd\"\
        },\"vhd\":{\"uri\":\"https://pyvmirstor517415e0.blob.core.windows.net/vmcontainer23f3ddfc-ee27-4606-aeef-fe29000b0243/osDisk.23f3ddfc-ee27-4606-aeef-fe29000b0243.vhd\"\
        },\"caching\":\"None\"}},\"osProfile\":{\"computerName\":\"[parameters('vmName')]\"\
        ,\"adminUsername\":\"[parameters('adminUsername')]\",\"adminPassword\":\"\
        [parameters('adminPassword')]\"},\"networkProfile\":{\"networkInterfaces\"\
        :[{\"id\":\"[parameters('networkInterfaceId')]\"}]},\"provisioningState\"\
        :0},\"type\":\"Microsoft.Compute/virtualMachines\",\"location\":\"westus\"\
        ,\"name\":\"[parameters('vmName')]\"}]}\r\n  },\r\n  \"name\": \"128d0bc9-2db0-42c2-adcf-cbac64e20385\"\
        \r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29966']
    status: {code: 200, message: OK}
version: 1
